* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
  padding: 6px;
  /* background-color: grey; */
}

.nav-bar {
  display: flex;
  float: right;
  /* padding-right: 4px; */
  align-items: center;
  /* background-color: grey; */
}

.nav-bar-link {
  display: block;
  /* background-color: grey; */
}

.nav-bar-link a {
  margin-left: 15px;
}

.nav-bar-icons {
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  /* padding-right: 15px; */
  /* background-color: grey; */
  /* margin-top: 6px;
  margin-right: 5px; */
}

.nav-bar-icons a {
  /* margin-right: 5px; */
  margin-left: 15px;
}

.a-apps {
  height: 24px;
  width: 24px;
  padding: 4px;
}

#apps {
  height: 16px;
  width: 16px;
}

.profile {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

/* #input_container {
  position: relative;
  padding: 0;
  margin: 0;
}
#input {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}
#input_img {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 10px;
  height: 10px;
} */
