/*common classes */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* common classes ends here */

/* header classes */

.header {
  display: inline-block;
  flex-grow: 1;
  width: 100%;
  padding: 6px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar a {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.nav-bar img {
  margin-left: 20px;
  margin-right: 10px;
}

.profile {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.header a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.profile:hover {
  box-shadow: rgba(143, 143, 143, 0.8) 0px 0px 12px;
}

/* header classes ends here */

/* main section classes */

.main-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main-logo {
  margin-top: 115px;
}

.search-button {
  margin-top: 25px;
  padding: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15cm;
  height: 1.1cm;
}

.search-button input {
  width: 500px;
  height: 25px;
  margin-left: 6px;
  margin-right: 6px;
  border: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  font-size: 16px;
  caret-color: #70757a;
}

.buttons {
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons button {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 20px 10px 20px;
  margin-left: 10px;
  background-color: #f8f9fa;
  color: #3c4043;
  font-size: 14px;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.languages {
  margin-top: 18px;
  display: block;
  text-align: center;
}

.languages p {
  color: #3c4043;
  font-size: 13px;
}

.languages a {
  color: #1a0dab;
  margin-left: 5px;
  font-size: 13px;
  padding: 0px 3px;
  text-decoration: none;
}

.languages a:hover {
  text-decoration: underline;
}

/* main section ends here */

/* footer starts */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.footer ul {
  list-style: none;
  color: #70757a;
}

.footer-top {
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer-bottom a {
  text-decoration: none;
  color: #70757a;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom-left ul {
  display: flex;
  flex-direction: row;
}

.footer-bottom-left a {
  margin-right: 30px;
}

.footer-bottom-right a {
  margin-left: 30px;
}

.footer-bottom-right {
  margin-right: 30px;
}

.footer-bottom-right ul {
  display: flex;
  flex-direction: row;
}

/* footer ends here */
